NEXT_PUBLIC_CONTACT_FORM_ENDPOINT="https://formspree.io/f/mbdvyddy"
NEXT_PUBLIC_GA_MEASUREMENT_ID=""
NEXT_PUBLIC_CLARITY_PROJECT_ID=""
NEXT_PUBLIC_ANALYTICS_ENABLED="false"
NEXT_PUBLIC_SANITY_PROJECT_ID=""
NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_SANITY_API_VERSION="2026-06-28"
SANITY_REVALIDATE_SECRET=""
